.section-form {
  position: relative;

  padding-bottom: 50px;
}

.section-form__inner {
  background-color: #F8F8F2;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 20px;

}

.section-form__inner::after {
  position: absolute;
  top: 200px;
  left: calc(50% + 525px);
  width: 515px;
  height: 568px;
  background-image: url("../images/aftor_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.section-form__inner::before {
  position: absolute;
  top: 680px;
  left: calc(50% - 1000px);
  width: 515px;
  height: 568px;
  background-image: url("../images/befor_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.section-form__big-box {
  padding: 50px 144px 50px 30px;
}

.section-form__big-box::before {
  position: absolute;
  bottom: 400px;
  left: calc(50% - 1000px);
  width: 316px;
  height: 269px;
  z-index: 10;
  background-image: url("../images/before_left2.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.section-form__big-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.left-box__navbar {
  margin-bottom: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-box__item:last-child {
  margin: 0;
  border-bottom: 3px dashed #C99B67;
  display: inline-block;
}

.left-box__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
  text-decoration: none;
}

//------------------------ RIGHT BOX

.selection-coffee {
  width: 660px;
  margin-bottom: 60px;
}

.selection-coffee__title-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.selection-coffee__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.selection-coffee__box-1,
.selection-coffee__box-2,
.selection-coffee__box-3 {
  width: 208px;
  height: 220px;
  padding: 30px 10px 16px;
  background-color: #C8DED5;

}

.selection-coffee__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #000000;
}

.selection-coffee__heading {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
}

.selection-coffee__text {
  width: 180px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}


.selection-coffee__input:checked~.selection-coffee__box-1 {
  background-color: #0A775F;
}

.selection-coffee__input:checked~.selection-coffee__box-2 {
  background-color: #0A775F;
}

.selection-coffee__input:checked~.selection-coffee__box-3 {
  background-color: #0A775F;
}

.right-box__order-list {
  background-color: #C99B67;
  width: 660px;
}

.right-box__order-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 40px;
  padding-left: 20px;
}

.right-box__order-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 22px;
}

.right-box__button-box {
  position: relative;
  margin-bottom: 60px;
}

.right-box__button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #0A775F;
  border-radius: 100px;
  padding: 16px 24px;
  border: none;
}

.right-box__button:hover {
  background-color: #fff;
  color: #0A775F;
}

.right-box__order-strong {
  color: #333333;
}